.container{
  display: flex;
  justify-content: center;
  .contant{
    width: 450px;
    height: 200px;
    background: sandybrown;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 60px;

  }
  .button{

    width: 200px;
    height: 30px;
    background: blue;
  }
  .imager{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
  }
}